* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #121212;
  color: white;
  overflow: hidden; 
}


.dashboard {
  display: flex;
  height: 100vh;
  width: 100vw;
}


.Navbar {
  width: 240px; 
  height: 100vh;
  position: fixed; 
  top: 0;
  left: 0;
}


.main {
  flex-grow: 1; 
  display: flex;
  flex-direction: column;
  padding: 0px 0px; 
  overflow-y: auto; 

}


.topbar {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  width: 80%;
  height: 10%; 
  margin-bottom: 30px;
  right: 100px;
}

.right-icons {
  display: flex;
  gap: 200px;
  align-items: center;
}



.Bottombar {
  position: fixed;
  bottom: 0px;
  left: 0;
  width: 100%;
  height: 90px;
 
}

.settings-panel {
  width: 450px;
  padding: 100px 50px;
  position: relative;
  right: 290px;
  height: 5000px;

  background: #151515;
  border-radius: 20px;
  color: white;

  margin: auto;   
  
  /* margin-bottom: 500px; */
}


.avatar {
  width: 100px;
  height: 100px;
  margin: 0 auto 10px;
  border-radius: 50%;
  background: #ff8a65;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 26px;
  color: black;
  /* margin-bottom: 400px; */
}

.username {
  margin-bottom: 15px;
}

.edit-btn {
  width: 100%;
  padding: 20px;
  border-radius: 20px;
  border: none;
  background: #2a2a2a;
  color: white;
  margin-bottom: 20px;
  cursor: pointer;
}

.toggle-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
}

input {
  width: 100%;
  padding: 15px;
  margin-bottom: 25px;
  border-radius: 15px;
  border: none;
  background: #1f1f1f;
  color: white;
}

.change-btn {
  width: 100%;
  padding: 10px;
  border-radius: 20px;
  border: none;
  background: #ff8a65;
  color: black;
  font-weight: bold;
  margin-top: 50px;
}

.signout-btn {
  width: 100%;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid #ff8a65;
  background: transparent;
  color: white;
  margin-top: 30px;
}


.switch {
  position: relative;
  width: 42px;
  height: 22px;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  inset: 0;
  background: #444;
  border-radius: 20px;
}

.slider::before {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  top: 2px;
  left: 2px;
  background: white;
  border-radius: 50%;
  transition: 0.3s;
}

.switch input:checked + .slider {
  background: #ff8a65;
}

.switch input:checked + .slider::before {
  transform: translateX(20px);
}
