.card {
  display: flex;
  flex-direction: column;
  width: 200px;
  border-color: orange;
}

.songcard-button {
  background: none;
  border: none;
  text-align: left;
  padding: 0;
  color: white;
  width: 100%;
}

.songcover-icon {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 8px;
  background-color: rgb(34, 34, 34);
}

.song-title {
  font-size: 14px;
  font-weight: bold;
  color: white;
}




